run = "npm run dev -- -p 3000"
hidden = [".config", "tsconfig.json", "tsconfig.tsbuildinfo", "next-env.d.ts", ".next", ".swc"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
deploymentTarget = "cloudrun"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[[ports]]
localPort = 3000
externalPort = 80
